.row.banner
  .small-12.columns.small-centered
    %h1 Blocipedia: Social, Markdown Wikis
.row
  .row
    .small-6.column.small-centered.box#top-box
      %h4 Create and share Markdown Wikis
  .row
    .small-6.columns.small-centered.box#bottom-box
      - if user_signed_in?
        %p Hello, #{current_user.email}!
      - else
        =link_to "Sign up", new_user_registration_path, class: "button success huge"
.row
  .small-6.columns.small-centered.box#wiki-box
    %h2
      =link_to 'Clicky for Wikis', wikis_path

- if current_user == nil
  .row
    .small-2.columns
      %p
    .small-3.columns.small-centered.box#left-box
      %h4 Create as many public wikis as you want
      =link_to 'Create Free Plan', new_user_registration_path, class: 'button'
    .small-2.columns
      %p
    .small-3.columns.small-centered.box#right-box
      %h4 Create private wikis!
      =link_to 'Premium Plan $15', new_charge_path, class: 'button'
    .small-2.columns
      %p
- elsif current_user && current_user.standard?
  .row
    .small-4.columns
      %p
    .small-4.columns.box#right-box
      %h4 Create private wikis!
      =link_to 'Premium Plan $15', new_charge_path, class: 'button'
    .small-4.columns
      %p
- elsif current_user && current_user.admin?
  .row
    .small-4.columns
      %p
    .small-4.columns
      %h4 Gutentag, Herr Administrator
    .small-4.columns
      %p
