.row
  %h1 Edit Wiki
=render partial: "form", locals: {wiki: @wiki}
- if @wiki.private
  .row
    %h4 Current Collaborators
    - @wiki.collaborators.each do |collaborator|
      .row
        = link_to "remove #{collaborator.email}", remove_collaborator_wiki_path(wiki_id: @wiki.id, collaborator_id: collaborator.id), method: :delete, class: "button tiny alert"
  .row
    %h4 Add Collaborators
    - @users.each do |user|
      - unless @wiki.collaborators.include? user
        .row
          = link_to "add #{user.email}", add_collaborator_wiki_path(wiki_id: @wiki.id, collaborator_id: user.id), method: :put, class: "button tiny success"
