.row
  %h1 Edit Wiki
=render partial: "form", locals: {wiki: @wiki}
- if @wiki.private
  .row
    %h4 Current Collaborators
    - @wiki.collaborators.each do |collaborator|
      .row
        = link_to "remove", remove_collaborator_wiki_path(wiki_id: @wiki.id, collaborator_id: collaborator.id), method: :delete, class: "button tiny alert"
        = collaborator.email
  .row
    %h4 Add Collaborators
    - @users.each do |user|
      - unless @wiki.collaborators.include? user
        .row
          = link_to "add", add_collaborator_wiki_path(wiki_id: @wiki.id, collaborator_id: user.id), method: :post, class: "button tiny success"
          = user.email
%script
  {type: "text/javascript"} var editor = new EpicEditor().load();
