.row
  %h1#title Public Wikis
- @wikis.each do |wiki|
  .row
    .small-10.columns
      =link_to wiki.title, wiki, class: "wiki-title"
    - if current_user && policy(wiki).edit?
      .small-1.column
        =link_to "Edit", edit_wiki_path(wiki), class:"button tiny info"
      - if current_user && policy(wiki).destroy?
        .small-1.column
          =link_to "Delete", wiki, method: :delete, class:"button tiny alert", data: {confirm: "are you sure? delete is forever."}
.row
  = link_to 'New Wiki', new_wiki_path, class: "button"
