/* Site name nav bar styling */
.name h1 {
 color: #fff;
 padding-left: 20px;
}

/* Styling for welcome#index */
.banner {
 text-align: center;
}

.box {
 text-align: center;
 border: 2px solid #000;
 border-radius: 15px;
}

#top-box {
 border-bottom: none;
 margin-top: 40px;
 margin-bottom: 0;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}

#bottom-box {
 border-top: none;
 margin-top: 0;
 margin-bottom: 40px;
 border-top-right-radius: 0;
 border-top-left-radius: 0;
}

#top-box, #bottom-box, #wiki-box {
 margin-left: auto;
 margin-right: auto;
 padding: 40px;
}

#wiki-box {
 margin-bottom: 20px;
}

#left-box {

}

#right-box {

}

#left-box, #right-box {
 min-height: 200px;
}
